<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
  <title>Order Details</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <link rel="stylesheet" href="/user/css/home.css">
  <link rel="stylesheet" href="/user/css/unAuthorised.css">
  <link rel="stylesheet" href="/user/css/profile.css">

</head>

<body>
  <%-include("../partials/navbar.ejs")%>
    <div class="container-fluid rounded bg-white position-relative">
      <div class="row">
       <%-include("../partials/profile.ejs")%> 
        <div class="col-md-9 offset">
          <!-- <section class="h-100 gradient-custom shadow" style="padding-top: 15px;"> -->
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="">
                  <div class="card shadow rounded-0">
                    <div class="card-header px-4 py-5">
                      <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #3b5e71;">
                          <%=userData.Username%>
                        </span>!</h5>
                    </div>
                    <div class="card-body p-4 rounded-0">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0" style="color: #323535;">Receipt</p>
                        <!-- <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> -->
                      </div>
                      <div class="card shadow-0 border mb-4 px-2">
                        <div class="card-body">
                          <% if (orderData && orderData[0].Items && Array.isArray(orderData[0].Items)) { %>
                            <% orderData[0].Items.forEach((x)=> { %>

                              <div class="row">
                                <div class="col-md-2 mb-4">
                                  <img src="/product-image/<%=x.productId.images[0]%>" class="img-fluid" alt="Phone">
                                </div>

                                <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0">
                                    <%= x.productId.ProductName %>
                                  </p>
                                </div>

                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Qty : <%= x.quantity %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">$<%= x.productId.DiscountAmount %>
                                  </p>
                                </div>
                                <% if(x.status=="Return" ){%>
                                  <h5 style="color: brown;">item returned</h5>

                                  <% }else if(orderData[0].Status=="Delivered" ){ %>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <button class="btn small btn-danger"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                        id="returnOrderBtn" data-item-id="<%= x._id %> "
                                        data-order-id="<%=orderData[0]._id%>">Return</button>
                                    </div>
                                    <% } else if(x.status=="Cancelled" ){%>
                                      <h5 style="color: brown;">item Cancelled</h5>
                                    <% }else if(orderData[0].Status !=="Cancelled" ){%>
                                      <hr>
                                      <div
                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <button class="btn small btn-dark mb-3" style="  --bs-btn-font-size: .75rem;"
                                          id="cancelOrderBtn" data-item-id="<%= x._id %> "
                                          data-order-id="<%=orderData[0]._id%>">Cancel item</button>
                                      </div>
                              </div>
                              <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                            

                                <% }%>
                                  <div class="row d-flex align-items-center">

                                  </div>
                                  <% }) %>
                                    <% }else{%>
                                      <h3>No data available</h3>
                                      <% } %>
                        </div>
                      </div>




                      <div class="d-flex justify-content-between">
                        <p class="text-muted mb-0"><b>Order ID : <%=orderData[0].orderId%></b></p>

                      </div>

                      <div class="d-flex justify-content-between">
                        <p class="text-muted mb-0"><b>Order Status :
                          <%if(orderData[0].Status==="Cancelled"){%> 
                          <span class="text-danger"><%=orderData[0].Status%></span></b></p>
                          <% }else {%>
                            <%=orderData[0].Status%></b></p>
                          <%}%>

                      </div>
                      <div class="d-flex justify-content-between mb-5">
                        <p class="text-muted mb-0"><b>payment method : <%=orderData[0].paymentMethod%></b></p>

                      </div>
                      <h4>
                        address:
                        </h1>
                        <div class="d-flex justify-content-between pt-2">
                          <p class="text-muted mb-0">
                            <%=orderData[0].Address.addressLine%>
                          </p>

                        </div>
                        <div class="d-flex justify-content-between pt-2">
                          <p class="text-muted mb-0">
                            <%=orderData[0].Address.city%>
                          </p>

                        </div>
                        <div class="d-flex justify-content-between pt-2">
                          <p class="text-muted mb-0">
                            <%=orderData[0].Address.pincode%>
                          </p>

                        </div>
                        <div class="d-flex justify-content-between pt-2">
                          <p class="text-muted mb-0">
                            <%=orderData[0].Address.state%>
                          </p>

                        </div>
                        <div class="d-flex justify-content-between pt-1 mb-2">
                          <p class="text-muted mb-0">
                            <%=orderData[0].Address.mobileNumber%>
                          </p>

                        </div>
                    </div>
                    <div class="card-footer border-0 rounded-0 px-4 py-5"
                      style="background-color: rgb(22, 21, 21); ">
                      <%if(orderData[0].Status !== "Cancelled"){%>
                      <button class="btn btn-outline-danger float-left" id="cancelOrder" data-item-id="" data-order-id="<%= orderData[0]._id %>">Cancel
                        Order</button>
                        <%}%>
                      <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                        <span class="h2 mb-0 ms-2 float-right"> ₹ <%= orderData[0].TotalPrice %></span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- </section> -->
          <!-- Add this to your HTML file before the closing body tag -->
          <div class="modal fade" id="returnOrderModal" tabindex="-1" role="dialog"
            aria-labelledby="returnOrderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="returnOrderModalLabel">Return Order</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="returnReason">Reason:</label>
                    <input type="text" class="form-control" id="returnReason" placeholder="Enter reason" required>
                  </div>
                  <div class="form-group">
                    <label for="returnDescription">Description:</label>
                    <textarea class="form-control" id="returnDescription" placeholder="Enter description"
                      required></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="confirmReturnBtn">Confirm Return</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const returnOrderButtons = document.querySelectorAll('#returnOrderBtn');

        console.log("..................", returnOrderButtons);
        returnOrderButtons.forEach((button) => {
          button.addEventListener('click', () => {
            const orderId = button.getAttribute('data-order-id');
            const itemId = button.getAttribute('data-item-id');
            console.log(",,,,,,,,,,,,,,,,,,", orderId);
            console.log('...............', itemId);
            // Show the modal
            $('#returnOrderModal').modal('show');

            console.log("..................modal opened.");
            // Handle the confirmation inside the modal
            document.getElementById('confirmReturnBtn').addEventListener('click', () => {
              const returnReason = document.getElementById('returnReason').value;
              const returnDescription = document.getElementById('returnDescription').value;

              fetch('/return-order', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ orderId, itemId, returnReason, returnDescription }),
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                   
                    $('#returnOrderModal').modal('hide');
                    window.location.reload()
                  } else {
                    swal(`Error: ${data.message}`);
                  }
                })
                .catch((error) => {
                  console.error('Error returning the order:', error);
                })

            });
          });
        });
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const cancelOrderButtons = document.querySelectorAll('#cancelOrderBtn');

        cancelOrderButtons.forEach((button) => {
          button.addEventListener('click', () => {
            const orderId = button.getAttribute('data-order-id');
            const itemId = button.getAttribute('data-item-id');
            swal({
            title: 'Are you sure?',
            text: "This Item will be cancelled from the order",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then(function() {
              fetch('/Onecancel-order', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ orderId, itemId }),
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    
                    window.location.reload()
                  } else {
                    
                    window.location.reload()
                  } 
                })
                .catch((error) => {
                  console.error('Error canceling the order:', error);
                });
            })
          });
        });
      });
    </script>
             <script>
              document.addEventListener('DOMContentLoaded', function () {
                const cancelOrderButton = document.getElementById('cancelOrder');
            
                cancelOrderButton.addEventListener('click', () => {
                    const orderId = cancelOrderButton.getAttribute('data-order-id');
            
                    const userConfirmed = confirm('Are you sure you want to cancel this order?');
            
                    if (userConfirmed) {
                      fetch(`/user/cancelOrder/${orderId}`, {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                      })
                        .then((response) => response.json())
                        .then((data) => {
                          if (data.success) {

                              window.location.reload()
            
                            button.closest('.card').remove();
                          } else {
                    window.location.reload()

                          swal(data.message)
                          }
                        })
                        .catch((error) => {
                          console.error('Error canceling the order:', error);
                        });
                    }
                  });
                });
              
            </script>
  <script src="/user/script/navbar.js"></script>


</body>

</html>